.classlist-wrapper {
  /*
  This is to change the background in the future

  background-image: url("https://www.countdowns.live/_next/image?url=%2Fbackgrounds%2Flofigirl.gif&w=1920&q=75");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  */
  height: 100vh;
}

.classlist-container {
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 1250px;
  padding: 10px;
  padding-top: 98px;
}

.classlist-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 12px;
  border: 2px solid rgba(204, 204, 204, 0.5);
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.classlist-header h2 {
  margin-left: 2px;
}

.classlist-keyword input {
  width: 290px;
  margin-right: 2px;
  border-radius: 9px;
}

.classlist-container .p-datatable {
  border: 2px solid rgba(204, 204, 204, 0.5);
  border-radius: 8px;
  padding: 1px;
  background-color: #f9f9f9e8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
}

.keyword-search-label {
  font-weight: normal;
}

.classlist-container .p-datatable .p-datatable-thead > tr > th,
.classlist-container .p-datatable .p-datatable-tbody > tr > td {
  white-space: normal;
  word-wrap: break-word;
  max-width: 175px;
  padding: 5px;
  border-bottom: 1px solid #e0e0e0; /* Light gray line between rows */
}
