.home-container {
  /* margin-top: 500px; */

  padding-top: 75px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
}

.distribution-container,
.second-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.distribution-container p,
.second-container p {
  flex: 1;
}

.distribution-container img,
.second-container img {
  flex-shrink: 0;
}