.statistics-container {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.statistics-container h3 {
  font-size: 1.75em;
  margin-bottom: 20px;
}

.statistics-container ul {
  list-style-type: none;
  padding: 0;
}

.statistics-container li {
  font-size: 1.1em;
  margin: 10px 0;
  color: #333;
}
